<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noname.sbExersise.repository.LiveShoppingMapper">
    <select id="getList" resultType="com.noname.sbExersise.repository.entity.LiveShoppingItem">
        SELECT
            Idx
            , Title
            , Description
            , '' as PageUrl
            , '' as ImageUrl
            , UseYN
            , CreateId
            , now() as CreateDate
            , '' as UpdateId
            , now() as UpdateDate
        FROM tb_liveshop
        WHERE
            UseYN = 1 AND
            Idx > ((#{pageIndex} - 1) * #{pageSize})
        ORDER BY Idx DESC
        LIMIT #{pageSize}
    </select>

    <select id="getTest" resultType="String">
        SELECT (#{pageIndex} + #{pageSize}) / 2 from tb_liveshop ORDER BY Idx LIMIT 1;
    </select>

</mapper>